.wrapper-nav .banner .owl-loading {
  opacity: 1; }

.wrapper-nav .banner .slider-main .owl-stage-outer .owl-stage .owl-item .owl-lazy {
  background-position: 40% 0%;
  background-size: cover !important;
  background-repeat: no-repeat !important; }

.wrapper-nav .banner .slider-main .owl-stage-outer .overlay {
  background-color: rgba(190, 190, 190, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: -1px;
  right: -1px;
  transition: transform .3s, opacity .6s;
  pointer-events: none; }

.wrapper-nav .banner .slider-main .owl-nav .owl-prev {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10rem;
  margin: 0; }

.wrapper-nav .banner .slider-main .owl-nav .owl-next {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10rem;
  margin: 0; }

.wrapper-nav .banner .slider-main .owl-nav button.owl-prev,
.wrapper-nav .banner .slider-main .owl-nav button.owl-next {
  background: transparent;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease; }
  .wrapper-nav .banner .slider-main .owl-nav button.owl-prev:hover,
  .wrapper-nav .banner .slider-main .owl-nav button.owl-next:hover {
    outline: none; }
  .wrapper-nav .banner .slider-main .owl-nav button.owl-prev i,
  .wrapper-nav .banner .slider-main .owl-nav button.owl-next i {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    color: #fff;
    font-size: 2.2rem; }
  .wrapper-nav .banner .slider-main .owl-nav button.owl-prev:hover i,
  .wrapper-nav .banner .slider-main .owl-nav button.owl-next:hover i {
    color: #ff0000; }

.wrapper-nav .banner .owl-carousel .owl-item .owl-lazy:not([src]), .wrapper-nav .banner .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: none !important; }

.wrapper-nav .banner .banner-inner button.owl-prev,
.wrapper-nav .banner .banner-inner button.owl-next {
  outline: none; }

.wrapper-nav .banner .banner-inner:hover button.owl-prev,
.wrapper-nav .banner .banner-inner:hover button.owl-next {
  opacity: 1;
  outline: none; }

.wrapper-nav .banner .banner-inner:hover .owl-prev {
  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  -o-transform: translateX(-20%); }

.wrapper-nav .banner .banner-inner:hover .owl-next {
  transform: translateX(20%);
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  -o-transform: translateX(20%); }

.wrapper-nav .banner .fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important; }

@media (max-width: 549px) {
  .slider-main {
    height: 35rem; }
    .slider-main .owl-stage .owl-lazy {
      height: 35rem; } }

@media (min-width: 550px) {
  .slider-main {
    height: 50rem; }
    .slider-main .owl-stage .owl-lazy {
      height: 50rem; } }

@media (min-width: 850px) {
  .slider-main {
    height: 75rem; }
    .slider-main .owl-stage .owl-lazy {
      height: 75rem; } }
