.cartDetails table thead th {
  text-align: center; }

.cartDetails table tbody .productRemove, .cartDetails table tbody .productThumbnail, .cartDetails table tbody .productName, .cartDetails table tbody .productPrice, .cartDetails table tbody .productQuantity, .cartDetails table tbody .productTotal {
  padding: 1rem 1.5rem; }

.cartDetails table tbody .productRemove a {
  width: 250rem;
  height: 250rem;
  background-color: #40a977;
  border-radius: 50%; }

.cartDetails table tbody .quantityControl .btnMinus, .cartDetails table tbody .quantityControl .btnPlus {
  width: 2.5rem;
  height: 3.5rem; }

.cartDetails table tbody .quantityControl .txtQuantity {
  text-align: center;
  height: 3.5rem; }

.cartDetails table tbody .btnCartOut, .cartDetails table tbody .btnCartUpdate {
  text-align: center;
  border: 0.25rem solid #969696;
  margin: 1.5rem 0.5rem;
  padding: 0 0.5rem; }

.cartDetails table tbody .btnCartOut {
  cursor: pointer; }
  .cartDetails table tbody .btnCartOut a:hover {
    text-decoration: none; }
  .cartDetails table tbody .btnCartOut:hover {
    background-color: #e14b4b;
    border-color: #e14b4b; }
    .cartDetails table tbody .btnCartOut:hover a {
      color: white; }

.cartDetails table tbody .btnCartUpdate a:hover {
  text-decoration: none; }

.cartDetails table tbody .btnCartUpdate:hover {
  background-color: rgba(75, 75, 75, 0.5);
  border-color: #afafaf;
  color: white; }

.cartDetails table tbody tr:first-child {
  border-top: 0.3rem solid #e1e1e1; }

.cartDetails table tbody tr:last-child {
  border-top: 0.15rem solid #e1e1e1; }

.cartContext {
  border-left: 0.1rem solid #e1e1e1;
  padding: 2rem 0 2rem 5rem; }
  .cartContext table {
    width: 100%; }
    .cartContext table tr {
      border-bottom: 0.1rem solid #e1e1e1; }
      .cartContext table tr:last-child {
        border-bottom: 0.25rem solid #e1e1e1; }
      .cartContext table tr td {
        padding: 1rem 0; }
  .cartContext .cartPayment {
    cursor: pointer;
    text-align: center;
    margin: 1.5rem 0;
    background-color: rgba(25, 75, 175, 0.85);
    color: white;
    font-weight: 500;
    transition: 1.5s; }
    .cartContext .cartPayment a:hover {
      color: white;
      text-decoration: none; }
    .cartContext .cartPayment:hover {
      background-color: #194baf; }
  .cartContext form h3 {
    border-bottom: 0.25rem solid #e1e1e1;
    padding: 0.75rem 0; }
  .cartContext form input {
    width: 100%;
    margin: 0.75rem 0; }
  .cartContext form .btn-info {
    font-weight: 500; }
