.return-to-shop {
  padding: 7rem 0 11rem 0; }
  .return-to-shop p {
    font-size: 1.6rem;
    color: #353535;
    margin-bottom: 2rem; }
  .return-to-shop a {
    color: #fff;
    background-color: #ff0000;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500; }
