section.product-content .tabs {
  margin-top: 4rem; }
  section.product-content .tabs .tabbed-product {
    overflow: hidden;
    padding-top: 2rem; }
    section.product-content .tabs .tabbed-product .navbar li.active a {
      color: #ff0000; }
      section.product-content .tabs .tabbed-product .navbar li.active a:before {
        opacity: 1; }
    section.product-content .tabs .tabbed-product .navbar li {
      position: relative;
      padding: 0 1.5rem; }
      section.product-content .tabs .tabbed-product .navbar li:hover a {
        color: #ff0000; }
        section.product-content .tabs .tabbed-product .navbar li:hover a:before {
          opacity: 1; }
      section.product-content .tabs .tabbed-product .navbar li a {
        padding: 1rem 0;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Roboto Slab", sans-serif;
        font-weight: 500;
        color: #000;
        transition: all .1s ease;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease; }
        section.product-content .tabs .tabbed-product .navbar li a:before {
          position: absolute;
          top: -20px;
          content: "\f005";
          font-family: 'Font Awesome\ 5 Free';
          font-weight: 900;
          left: 50%;
          transform: translateX(-50%);
          font-size: 16px;
          line-height: 1;
          color: currentColor;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          opacity: 0;
          transition: all .1s ease;
          -webkit-transition: all .1s ease;
          -moz-transition: all .1s ease;
          -ms-transition: all .1s ease;
          -o-transition: all .1s ease;
          pointer-events: none; }

section.product-content .tab {
  display: none; }

section.product-content .tab.active {
  display: block; }

section.product-content .wrapper-product .tab-content {
  animation: fadeEffect 1s;
  -webkit-animation: fadeEffect 1s;
  padding-top: 1.6rem; }
  section.product-content .wrapper-product .tab-content .row .product-item {
    padding: 0 .98rem 1.96rem;
    width: 20%; }
    section.product-content .wrapper-product .tab-content .row .product-item:hover img {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1); }
    section.product-content .wrapper-product .tab-content .row .product-item:hover .product-text {
      transform: translateY(-20%);
      -webkit-transform: translateY(-20%);
      -moz-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
      -o-transform: translateY(-20%); }
    section.product-content .wrapper-product .tab-content .row .product-item .product-image {
      padding-bottom: 2.5rem;
      cursor: pointer; }
      section.product-content .wrapper-product .tab-content .row .product-item .product-image a {
        display: block; }
        section.product-content .wrapper-product .tab-content .row .product-item .product-image a img {
          max-width: 100%;
          transition: all .5s ease;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          -ms-transition: all .5s ease;
          -o-transition: all .5s ease; }
    section.product-content .wrapper-product .tab-content .row .product-item .product-text {
      text-align: center;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease; }
      section.product-content .wrapper-product .tab-content .row .product-item .product-text .title-wrapper a {
        font-size: 1.5rem;
        color: #334862;
        text-decoration: none; }
      section.product-content .wrapper-product .tab-content .row .product-item .product-text .price-wrapper .price {
        white-space: nowrap;
        color: #111;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1; }
        section.product-content .wrapper-product .tab-content .row .product-item .product-text .price-wrapper .price .woocommerce-price-currencySymbol {
          font-size: 1.4rem;
          text-decoration: underline;
          font-weight: 700; }
